.boton{

    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
    margin: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.5s;

}

.boton:hover {

   background-color: white;
   color: black;

}


.contador{

    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    justify-content: center;
   
}

.btn{

    border-radius: 10px;
    font-size: 15px;
    
}


p{

    font-size: 12px;  
}

