header{

    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 20px;
    text-decoration: none;
   

}

.link_logo{

    text-decoration: none;
    list-style: none;
    color: black;
    


}


.h1_logo{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 30px;

}


.ul{

    list-style: none;
    padding-right: 75px;
}

.li{

    display: inline;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.5s;
       
}

.li:hover{

    font-size: 17px;

}

.link{

    text-decoration: none;
    color: black;
}